/* ========== VARIABLES ========== */
:root {
  --ff: "Zen Dots", cursive;

  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 900;

  --fs-1: clamp(5rem, 5vw, 8rem);
  --fs-2: clamp(2.1rem, 5vw, 3.5rem);
  --fs-3: clamp(1.6rem, 5vw, 1.8rem);
  --fs-p: 1.6rem;

  --nav-color: #16171c;
  --background-color: #1a1c22;
  --scroll-bar: #b3b3b3;

  --header-clr: #bc9d81;
  --text-clr: #b3b3b3;

  --border-rad: 15px;
}
/*  ============ Reset ============ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff);
  background-color: var(--background-color);
}

/* ========== CUSTOM SCROLLBAR ========== */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border-radius: 20px;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--accent-clr-1) var(--scroll-bar);
    scrollbar-width: auto;
  }
}

/* ========== TYPOGRAPHY ========== */
input,
textarea,
select,
button {
  font-family: inherit;
}

i,
li,
p,
input,
textarea {
  font-size: var(--fs-p);
}
h1,
h2,
h3 {
  color: var(--header-clr);
}

h1 {
  font-size: var(--fs-1);
  text-transform: uppercase;
  font-weight: var(--fw-b);
}

h2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-m);
  text-transform: uppercase;
}

h3 {
  font-size: var(--fs-3);
}

a {
  text-decoration: none;
}

label {
  font-size: var(--fs-3);
}

ul {
  list-style-type: none;
}

i {
  /* for gear logo and github logo */
  color: var(--header-clr);
  font-size: 2.4rem;
}

input:focus {
  /* outline: none; */
}

.button,
button {
  border: none;
  padding: 0.4em 0.9em;
  font-size: var(--fs-p);
  border-radius: var(--border-rad);
  font-weight: var(--fw-b);
}

button:hover,
select:hover {
  cursor: pointer;
}

hr {
  border: 1px solid var(--accent-clr);
  height: 2px;
}
/* ========== REUSABLE COMPONENTS ========== */
.outline-r {
  outline: 1px solid red;
}

.container {
  width: min(80%, 1200px);
  margin: 0 auto;
}

.flexcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
  margin-top: 1em;
}

/* ========== Main Page ========== */

/* ========== Nav Bar ========== */
.big-nav {
  padding: 1.5em 0;
  background-color: var(--nav-color);
}

.big-nav_container {
  width: min(80%, 1100px);
  margin: 0 auto;
  position: relative;
  height: auto;
}

.navalign {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo_text {
  display: inline;
  font-size: 2.8rem;
}

nav i {
  color: var(--text-clr);
}

/* ========== Expression Input ========== */
.factorise-container {
  margin-top: 6em;
}

.whole_input {
  /* margin-top: 2em; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area {
  margin-bottom: 5em;
}

#inputbox {
  height: 70%;
  width: 100%;
  font-size: var(--fs-2);
  background-color: var(--highlight-b-clr);
  border-radius: var(--border-rad);
  color: var(--text-clr);
  padding: 0.3em;
  text-align: center;
  margin-bottom: 0.3em;
  background: #765141;
  border: none;
}

#inputbox:focus {
  outline: 3px solid #d57c66;
}

select {
  border: none;
  height: 30%;
  width: clamp(22rem, 20vw, 25rem);
  background-color: var(--header-clr);
  border-radius: var(--border-rad);
  color: #1a1c22;
  font-size: var(--fs-p);
  padding: 0.1em;
  padding-left: 0.8em;
  cursor: pointer;
}

#gobutton {
  letter-spacing: 0.2em;
  font-size: var(--fs-2);
  width: 40%;
  font-weight: 900;
  background-color: #df9d81;
}
